@import 'tailwindcss';

@page {
	margin: 0;
	size: letter;
}

input[type='search']::-webkit-search-cancel-button {
	display: none;
}

#map {
	path {
		cursor: pointer;
		fill-opacity: 0;
	}

	path:hover {
		fill-opacity: 1;
	}

	.selected {
		fill: yellow;
		fill-opacity: 1;
	}

	.sold {
		fill-opacity: 1;
	}
}
