@import 'tailwindcss';

@page {
	margin: 0;
	size: letter;
}

#map {
	path {
		fill: black;
		fill-opacity: 0;
		stroke: black;
	}

	path:hover {
		fill-opacity: 1;
	}

	.selected {
		fill: yellow;
		fill-opacity: 1;
	}

	.sold {
		fill-opacity: 1;
	}

	.sold:hover {
		fill-opacity: 0;
	}
}
