@import 'tailwindcss';

@page {
	margin: 0;
	size: letter;
}

input[type='search']::-webkit-search-cancel-button {
	display: none;
}

.cyan {
	fill: #527ca5aa;
	stroke: #527ca5;
}

.green {
	fill: #5f7f3faa;
	stroke: #5f7f3f;
}

.magenta {
	fill: #a5527caa;
	stroke: #a5527c;
}

.purple {
	fill: #5f007faa;
	stroke: #5f007f;
}

.rose {
	fill: #ff9f7faa;
	stroke: #ff9f7f;
}

#map {
	background: black;

	path {
		fill-opacity: 0;
	}

	path:hover {
		fill-opacity: 1;
	}

	.selected {
		fill: yellow;
		fill-opacity: 1;
	}

	.sold {
		fill-opacity: 1;
	}
}
