.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 108px;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
}

.logo {
  left: 0;
  position: absolute;
  width: 100px;
}

.map {
  border: 1px solid;
  box-sizing: border-box;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
}

.marker {
  background: #f00;
  height: 4px;
  position: absolute;
  width: 4px;
}

.miniMap {
  background-image: url(/images/mini-floor-plan.png);
  background-size: contain;
  border-left: 1px solid;
  border-top: 1px solid;
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}

.tip {
  background: #fff;
  font-size: 0.8rem;
  left: 8px;
  position: absolute;
  top: 4px;
}

.twoColumnGrid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 50% 50%;
}

.twoColumnGrid > li {
  list-style: upper-alpha;
}
